<div>
    <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input placeholder="Test name" [(ngModel)]="bulkInput.username">
    </nz-input-group>
    <br>
    <br>
    <nz-select [(ngModel)]="bulkInput.dataset">
        <nz-option nzValue="BACE" nzLabel="BACE-1抑制活性"></nz-option>
        <nz-option nzValue="BBBP" nzLabel="血脑屏障穿透性"></nz-option>
    </nz-select>
    <br>
    <br>
    <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="6"> 
            <label nz-checkbox [(ngModel)]="checked">
              <span>分子图结构学习</span>
            </label>        
        </div>
  
        <div nz-col [nzSpan]="6">
            <label nz-checkbox [(ngModel)]="checked2">
              <span>分子间关系图结构学习</span>
            </label>
        </div>
    </div>
</div>

<br>

<div>
    <button nz-button (click)="fileUpload.click()"><i nz-icon nzType="upload"></i>点击上传文件 (.csv, .txt)</button>
    <input #fileUpload type="file" accept=".csv, .txt" style="display: none;" (change)="upload($event)" multiple="false"/>
</div>

<br>

<div>该文件中所包含的SMILES: </div>

<ul>
    <li *ngFor="let smiles of bulkInput.smiles">{{smiles}}</li>
</ul>

<button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="predict()">开始预测</button>

<br>
<br>

<div>预测结果：<div>
<ul>
    <li *ngFor="let item of result; let i = index">{{bulkInput.smiles[i]}}: {{result[i]}}</li>
</ul>

<button *ngIf="filename" nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="download()">下载结果</button>
